<div class="container-btn">
  <input type="checkbox" id="btn-mas" />
  <div class="redes">
    <a href="" class="fab fa-facebook-f"></a>
    <a href="" class="fab fa-github"></a>
    <a href="" class="fab fa-linkedin-in"></a>
    <a href="" class="fab fa-google"></a>
    <a href="https://api.whatsapp.com/send?phone=573136925161&text=Me%20gustaría%20contratar%20tus%20servicios." class="fab fa-whatsapp" target="_blank" rel="noopener"></a>
    <a href="" class="fab fa-instagram"></a>
  </div>
  <div class="btn-mas">
    <label for="btn-mas" class="fas fa-angle-up"></label>
  </div>
</div>
