<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img
      src="../../../favicon.ico"
      alt=""
      width="30"
      height="24"
      class="d-inline-block align-text-top text-center"
    />Jeferson Fonseca Soto</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio" routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/basic" routerLinkActive="active"
            >Sobre mi</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/perfil" routerLinkActive="active"
            >Perfil</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/skills" routerLinkActive="active"
            >Skills</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/portafolio" routerLinkActive="active"
            >Portafolio</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLink="/"
            routerLinkActive="active"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Proyectos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                href="http://tovaro.fucring.org/index.php"
                target="_blank"
                >TOVARO</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://fucring.org/"
                target="_blank"
                >FUCRING</a
              >
            </li>
            <!-- <li><a class="dropdown-item" href="#" target="_blank">Talleres Gutierrez</a></li> -->
            <li>
              <a
                class="dropdown-item"
                href="https://www.vasanpisosyconcretos.com/"
                target="_blank"
                >VASAN Pisos y concretos</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://jefferfonseca.github.io/"
                target="_blank"
                >Modelo FURPS</a
              >
            </li>

            <li><hr class="dropdown-divider" /></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header>
  <div class="text-center py-3">
    <img class="avatar" src="./assets/images/perfil.jpg" alt="Jeffer Fonseca" />
  </div>
</header>
<div class="container perfil text-center py-4">
  <h1 id="nombre">Jeferson Fonseca Soto</h1>
  <h2>Desarrolador Full Stack (Junior)</h2>
</div>
<app-boton-flotante></app-boton-flotante>
