body,
html {
  height: 100%;
  font-family: "Verb", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

header {
  border-bottom: 4px solid white;
  height: 15rem;
  background-image: url('../../../assets/images/header.jpg');
}
