<div class="container">
  <div class="d-flex align-items-start">
    <div
      class="nav flex-column nav-pills me-3"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <button
        class="nav-link active"
        id="v-pills-home-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-home"
        type="button"
        role="tab"
        aria-controls="v-pills-home"
        aria-selected="true"
      >
        Básicos
      </button>
      <button
        class="nav-link"
        id="v-pills-profile-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-profile"
        type="button"
        role="tab"
        aria-controls="v-pills-profile"
        aria-selected="false"
      >
        Formación
      </button>
      <button
        class="nav-link"
        id="v-pills-messages-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-messages"
        type="button"
        role="tab"
        aria-controls="v-pills-messages"
        aria-selected="false"
      >
        Habilidades Blandas
      </button>
      <button
        class="nav-link"
        id="v-pills-settings-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-settings"
        type="button"
        role="tab"
        aria-controls="v-pills-settings"
        aria-selected="false"
      >
        Settings
      </button>
    </div>

    <div class="tab-content" id="v-pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="v-pills-home"
        role="tabpanel"
        aria-labelledby="v-pills-home-tab"
      >
        <div class="container pt-3">
          <h6>
            <span class="material-icons">phone_enabled</span>  +57 313 692 5161
          </h6>
          <br>
          <h6>
            <span class="material-icons">mail</span>  jefferfonseca@gmail.com
          </h6>
          <br>
          <h6><span class="material-icons">location_on</span>  Colombia</h6>
          <br>
          <h6>
            <span class="material-icons">event</span>  07 de febrero de 1992
          </h6>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="v-pills-profile"
        role="tabpanel"
        aria-labelledby="v-pills-profile-tab"
      >
        <div class="container estudio py-3">
          <p>01/2020 | 01/2021</p>
          <h5>Especialista en Aplicación de las TIC para la Enseñanza</h5>
          <h6><small class="text-muted">Universidad de Santander</small></h6>
        </div>
        <div class="container estudio py-3">
          <p>01/2012 – 12/2016</p>
          <h5>Ingeniero de Sistemas</h5>
          <h6><small class="text-muted">Universidad de Boyacá</small></h6>
        </div>
        <div class="container estudio py-3">
          <p>01/2008 – 12/2010</p>
          <h5>Técnico: Telemercadeo y Contact Center</h5>
          <h6><small class="text-muted">SENA</small></h6>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="v-pills-messages"
        role="tabpanel"
        aria-labelledby="v-pills-messages-tab"
      >
        <div class="container">
          <ul>
              <li><span class="material-icons">done</span>  Apoyo extracurricular</li>
              <li><span class="material-icons">done</span>  Liderazgo y motivación</li>
              <li><span class="material-icons">done</span>  Autoaprendizaje</li>
              <li><span class="material-icons">done</span>  Puntualidad y compromiso</li>
              <li><span class="material-icons">done</span>  Capacidad de análisis</li>
              <li><span class="material-icons">done</span>  Comunicación asertiva</li>
          </ul>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="v-pills-settings"
        role="tabpanel"
        aria-labelledby="v-pills-settings-tab"
      >
        ...
      </div>
    </div>
  </div>
</div>
<br /><br /><br />
